:root {
  /* fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* text colors*/
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --light-text-color: #ffffff;
  --black-text-color: #000000;

  /* background colors */
  --background-color: #f5f5f5;
  --secondary-background-color: #f5f4fa;
  --accent-background-color: #2196f3;
  --dark-fill-color: #2f303a;
  --light-fill-color: #ffffff;
  --light-border-color: #eeeeee;
  --img-background-color: #c4c4c4;
  --icon-light-color: #afb1b8;
  --icon-grey-color: #757575;
}

/* base styles */
.page {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

/* reset */
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header styles */

.portfolio-header {
  border-bottom: 1px solid #ececec;
}
.header {
  background-color: var(--light-fill-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--black-text-color);
  text-decoration: none;
}

.header-web {
  color: var(--accent-text-color);
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-text-color);
}

.current {
  color: var(--accent-text-color);
}

/* navigation */
.site-nav,
.site-info {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-info .list-item {
  color: var(--main-text-color);
}

.site-nav .list-item:not(:last-child) {
  margin-right: 50px;
}

/* contacts */
.site-info {
  gap: 30px;
  display: flex;
  align-items: center;
}

.header-contacts {
  margin-left: auto;
}

.header-contacts .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-icon {
  margin-right: 10px;
  fill: var(--icon-grey-color);
}

.link:hover .header-icon,
.link:focus .header-icon {
  fill: var(--accent-background-color);
}

/* Studio page styles */
/*  hero section styles */
.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--img-background-color);
  background-image: url(../image/hero-bg-overlay-1.webp),
    url(../image/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.hero-button {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  margin-right: auto;
  margin-left: auto;
  min-height: 50px;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--light-text-color);
  background-color: var(--accent-background-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* section feature styles */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-subtitle {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.feature-list {
  display: flex;
}

.feature-icons {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-list > .feature-item:not(:last-child) {
  margin-right: 30px;
}
/* doings section styles */

.doings {
  padding-top: 0;
}
.doings-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.doings-list {
  display: flex;
}

.doings-list > .doings-item:not(:last-child) {
  margin-right: 30px;
}

/* team section styles */

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-content {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-card {
  max-width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--light-fill-color);
}
.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list-subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* social-links */

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.socials-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: var(--light-fill-color);
  border-radius: 50%;
}
.socials-icon {
  fill: var(--icon-light-color);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-background-color);
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--light-fill-color);
}

/* clients section styles */

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  background-color: var(--light-fill-color);
  border: 1px solid var(--icon-light-color);
  border-radius: 4px;
}

.clients-icon {
  fill: var(--icon-light-color);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-background-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-background-color);
}
/* Portfolio page styles */

/* buttons style */
.button-container {
  padding-bottom: 50px;
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list .portfolio-button:not(:last-child) {
  margin-right: 8px;
}

.button-list .button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  border-radius: 4px;
}

.list .button:hover,
.list .button:focus {
  background-color: var(--accent-background-color);
  color: var(--light-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* project-cards style */

.projects-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.projests-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.projects-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-card {
  display: block;
}

.projects-card:hover,
.projects-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* footer styles */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-fill-color);
}

.footer-socials-section {
  margin-left: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--light-fill-color);
  text-decoration: none;
}

.footer-web {
  color: var(--accent-text-color);
}

.addres {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  font-style: normal;
}
.addres-text {
  color: var(--light-text-color);
  padding-bottom: 9px;
}

.footer-contacts {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail {
  margin-bottom: 9px;
}
.addres .link:hover,
.addres .link:focus {
  color: var(--accent-text-color);
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.footer-socials {
  display: flex;
  gap: 10px;
}

.footer-socials-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-socials-icon {
  fill: var(--light-fill-color);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-background-color);
}

/* .footer-socials-link:hover .footer-socials-icon,
.footer-socials-link:focus .footer-socials-icon {
  fill: var(--light-fill-color);

} */
